.ProductAdd {
  height: fit-content;
  display: flex;
  flex-direction: column;
  min-height: 80dvh;
  width: 780px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.AddProductForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 515px;
  min-width: 200px;
  margin: 16px 20% 16px 20%;
  border-radius: 1em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  padding: 2%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="file"]::file-selector-button {
  background-color: rgb(39, 99, 24);
  border: none;
}

input[type="file"]::file-selector-button:hover {
  background-color: rgb(49,140,23);
  border: none;
}
