.category-item {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  padding: 8px 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.7em;
}

.category-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.category-info {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  color: black;
  font-size: 12px;
  width: 150px;

}

.category-info p {
  margin: 4px 0;
  width: fit-content;
}

.category-buttons {
  display: flex;
  flex-direction: column;
  padding: 0 8px 0 0;

}