.category {
  height: fit-content;
  display: flex;
  flex-direction: column;
  min-height: 80dvh;
  width: 100vw;
  background-color: white;

  .page-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: black;
    font-size: 20px;
    padding: 0 16px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    color: black;
    padding: 0 16px 8px 16px;
    margin-bottom: 16px;
    margin-right: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
