.order-page {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: white;
  color: black;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: fit-content;

    .order-form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 45%;
      border-radius: 1em;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    }

    .order-items {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 45%;
    }


  }


}