.img-slider-img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
}

.img-slider-img-cont {
  transition: translate 250ms ease-in-out;
}

.img-slider-del-btn {
  display: block;
  position: absolute;
  background-color: rgb(124, 5, 5);
  border: none;
  width: 30px;
  height: 30px;
  bottom: 0;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
}

.img-slider-del-btn:hover,
.img-slider-del-btn:focus-visible {
  background-color: rgb(186, 18, 18);
}

.img-slider-del-btn:focus {
  outline: none !important;
}

.img-slider-home-btn {
  all: unset;
  display: block;
  position: absolute;
  color: rgb(255, 255, 255);;
  stroke: rgb(255, 255, 255);
  border: none;
  top: 0;
  bottom: 0;
  padding: 2%;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.img-slider-home-btn:hover,
.img-slider-home-btn:focus-visible {
  background-color: rgb(0, 0, 0, 0.1);
}

.img-slider-home-btn:focus {
  outline: none !important;
}

.img-slider-home-btn > * {
  stroke: rgb(255, 255, 255);;
  fill: rgb(255, 255, 255);;
  width: 2rem;
  height: 2rem;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}

.img-slider-dot-btn {
  all: unset;
  display: block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: scale 100ms ease-in-out;
}

.img-slider-dot-btn:hover,
.img-slider-dot-btn:focus-visible {
  scale: 1.2;
}

.img-slider-dot-btn:focus {
  outline: none !important;
}

.img-slider-dot-btn > * {

  color: rgb(49, 140, 23);
  fill: rgb(49, 140, 23);
  height: 100%;
  width: 100%;
}

.img-slider-dot-btn:focus-visible,
.img-slider-home-btn:focus-visible {
  outline: none;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}



@media not (prefers-reduced-motion) {
  .img-slider-img {
    transition: translate 300ms ease-in-out;
  }

  .img-slider-home-btn:hover > *,
  .img-slider-home-btn:focus-visible > * {
    animation: squish 200ms ease-in-out;
  }
}